path "secret/customers/{{ tenant }}/auth0/configuration" {
  capabilities = ["read"]
}

path "secret/customers/{{ tenant }}/auth0/current" {
  capabilities = ["create", "read", "update", "delete", "list"]
}